<!-- Header -->
<div class="text-center">
  <div id="header" class="pl-8 pr-8 fg-white">
    <div class="h-100 display-flex justify-content-center align-items-center">
      <div class="w-100">
        <h1>Daddy</h1>
        <h2>The Dungeons and Dragons open source game</h2>
      </div>
      <div class="" style="flex-basis: 100%; height: 0px;"></div>
      <div class="w-100">
        <button class="ml-auto mr-auto">Join a room</button>
        <button class="ml-auto mr-auto">Create a room</button>
      </div>
    </div>
  </div>
</div>

<div class="end_section"></div>

<!-- Description -->
<div id="description">
  <div class="mb-6">
    <div class="display-flex">
      <img class="description_img w-20 h-20 align-self-center" src="images/main_description_imagine.jpg" />
      <div class="description_container w-75">
        <h3>Imagine</h3>
        <p class="text-wrap">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dignissim nisl at urna egestas, vel eleifend ligula malesuada.
          Proin pretium dui non nisl facilisis, a venenatis massa bibendum. Nullam mollis leo lorem, eu fringilla purus faucibus at.
          Nam pharetra, sem in fermentum pulvinar, est nulla interdum ante, id aliquet ex justo eu elit. Nunc scelerisque lacus in vulputate facilisis.
          Etiam laoreet est libero, at faucibus lorem ultricies eget. Sed nisl nunc, iaculis nec consectetur nec, dapibus eu tortor.
          Morbi interdum purus vitae posuere pharetra.
        </p>
      </div>
    </div>
  </div>
  <div class="mb-6">
    <div class="display-flex">
      <img class="description_img w-20 h-20 align-self-center" src="images/main_description_create.jpg" />
      <div class="description_container w-75">
        <h3>Create</h3>
        <p class="text-wrap">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dignissim nisl at urna egestas, vel eleifend ligula malesuada.
          Proin pretium dui non nisl facilisis, a venenatis massa bibendum. Nullam mollis leo lorem, eu fringilla purus faucibus at.
          Nam pharetra, sem in fermentum pulvinar, est nulla interdum ante, id aliquet ex justo eu elit. Nunc scelerisque lacus in vulputate facilisis.
          Etiam laoreet est libero, at faucibus lorem ultricies eget. Sed nisl nunc, iaculis nec consectetur nec, dapibus eu tortor.
          Morbi interdum purus vitae posuere pharetra.
        </p>
      </div>
    </div>
  </div>
  <div class="mb-4">
    <div class="display-flex">
      <img class="description_img w-20 h-20 align-self-center" src="images/main_description_enjoy.jpg" />
      <div class="description_container w-75">
        <h3>Enjoy</h3>
        <p class="text-wrap">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dignissim nisl at urna egestas, vel eleifend ligula malesuada.
          Proin pretium dui non nisl facilisis, a venenatis massa bibendum. Nullam mollis leo lorem, eu fringilla purus faucibus at.
          Nam pharetra, sem in fermentum pulvinar, est nulla interdum ante, id aliquet ex justo eu elit. Nunc scelerisque lacus in vulputate facilisis.
          Etiam laoreet est libero, at faucibus lorem ultricies eget. Sed nisl nunc, iaculis nec consectetur nec, dapibus eu tortor.
          Morbi interdum purus vitae posuere pharetra.
        </p>
      </div>
    </div>
  </div>
</div>
