<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-2 border-bottom box-shadow mb-0"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Daddy</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link fg-ghostwhite text-border" [routerLink]="['/fetch-data']">Sign up</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link fg-white nav-login-btn" [routerLink]="['/login']">Sign in</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
